* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.hidden {
  display: none;
}

.main-header {
  background-color: #EEE6CE;
}

.main-heading {
  color: #313552;
  cursor: pointer;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3em;
  padding: 2em;
}

/* set up the grid */
#svg-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}


.container object {
  width: 100%;
}

.container p {
  text-align: center;
  padding-top: 10px;
}
