body {
  font-size: 16px;
}

.hidden {
  display: none;
}

.main-heading {
  color: red;
  cursor: pointer;
  text-align: center;

  font-family: 'Lobster', cursive;
  font-size: 3em;
}

/* set up the grid */
#svg-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.container {
  display: flex;
}

.container img {
  width: 100%;
}
