* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: #EEEEEE;
}

.hidden {
  display: none;
}

.main-header {
  background-color: #EEE6CE;
}


.main-heading {
  color: #313552;
  cursor: pointer;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 5em;
  padding: 2em;
}

/* set up the grid */
#svg-grid {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 3em;
  margin: 5em;
}

.content-box {
  margin: 0em 14em;
  padding: 2em;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 9px double #313552;
  border-radius: 10px;
}


.container object {
  width: 100%;
}

.container h3 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding: 1em 0em;
  color: white;
  background-color: #313552;
}

.container p {
  text-align: center;
  padding: 0em 0em 3em;
  background-color: #313552;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

footer {
  position: relative;
  padding: 2em;
  background-color: #313552;
  color: white;
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
}
